<h1 class="center-align green-text">Markets</h1>
<div class="row">
    {{!-- {{#if (isLoggedIn user)}}    
    <p> Hi {{user.firstName}}</p>
    {{/if}}   --}}
    {{#each markets}}
        <div class="col s12 l4 m6">
            
            <div class="card">
                <!-- 
                    Need to add user logic and then hbs helper
                    --->
                <div class="card-image">
                {{#if (isUserCreator user ../user)}}
                <a href="/markets/edit/{{_id}}" class="btn-floating halfway-fab blue">
                <i class="fas fa-edit fa-small"></i></a>
                {{/if}}
                </div>
                <div class="card-content center-align">
                    <h5 class="blue-text">{{name}}</h5>
                    <h6>{{brand}}</h6>
                    <p>{{location}}</p>
                    <p>Creado por {{user.firstName}} {{user.lastName}}</p>
                    <div class="card-action center-align">
                        <a href="/markets/{{_id}}" class="btn green">See Prices</a>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <p>No markets to display</p>
    {{/each}}
    
    {{#if (isLoggedIn user)}}
        <div class="fixed-action-btn">
            <a href="/markets/add" class="btn-floating btn-large waves-effect waves-light green"><i class="fas fa-plus"></i></a>
        </div>
    {{/if}}
     
</div>
