{{> _navbar}}
<div class="container">
<div class="section">
    <a href="/markets" id="link-backMarkets"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Back to all markets</a>
</div>
<div class="section">
    {{#each market.categories}}
    <ul id="{{@index}}" class="dropdown-content">
        {{#each sub}}
       
        <li><a href="/markets/{{../../market._id}}/products/{{../this.main}}/{{this.sub}}">{{this.sub}}</a></li>
        {{/each}}
    </ul>
    {{/each}}
<nav class="test green darken-3">
  <div class="nav-wrapper">
    
    <ul class="left hide-on-med-and-down">
    {{#each market.categories}}
      <!-- Dropdown Trigger -->
      <li class="active"><a class="dropdown-trigger" href="/markets/{{../market._id}}/products/{{this.main}}" data-target="{{@index}}">{{this.main}}</a></li>
    {{/each}}
    </ul>
  </div>
</nav>
 {{!-- <nav>
    <div class="nav-wrapper green darken-3">
     
      <ul id="nav-mobile" class="left hide-on-med-and-down">
{{#each mainCategories}}

    <li><a href="/markets/{{../market._id}}/products/{{this}}">{{this}}</a></li>
 {{/each}}
        
      </ul>
    </div>
  </nav> --}}

 </div>

<div class="row">
    <div class="col s12 m12">
        <div class="center-align">
            <h3 class="green-text">{{market.name}}</h3>
            <h6 class="tasa-dolar">Tasa dolar del día {{tasaDolar}} Bs/$</h6>
        </div>
    </div>
</div>

<table class="striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Categoría Principal</th>
            <th>Categoría Sub</th>
            <th>Categoría Item</th>
            <th>Precio Bs</th>
            <th>Precio $</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
               <td>{{name}}</td>
               <td>{{mainCategory}}</td>
               <td>{{subCategory}}</td>
               <td>{{itemCategory}}</td>
               <td>{{priceBs}} Bs</td>
               <td>{{priceDolar}} $</td>
               <td>
                   {{!-- this market.user refers to product.market.user --}}
                   {{#if (isUserCreator market.user ../user )}}
                    <a href="/markets/{{market._id}}/products/edit/{{_id}}" class="btn btn-float">
                        <i class="fas fa-edit"></i>
                    </a>
                    {{/if}}
                    {{#if (isUserCreator market.user ../user )}}
                   <form action="/markets/{{market._id}}/products/{{_id}}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn red">
                            <i class="fas fa-trash"></i>
                        </button>
                   </form>
                   {{/if}}
                   
               </td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="center-align">
    {{!-- <a href="/markets/{{market._id}}?page={{substractOne
    currentIndex}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> --}}
    {{{paginationArrowsPrev totalPagesArray.length currentIndex market}}}
    {{#each totalPagesArray}}
        {{{pagination ../currentIndex @index ../market}}}
    {{/each}}
    {{{paginationArrowsNext totalPagesArray.length currentIndex market}}}
    {{!-- <a href="/markets/{{market._id}}?page={{{add currentIndex totalPagesArray.length - 1}}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> --}}
    
</div>
<div>
    
</div>


{{#if (isUserCreator market.user user )}}
<div class="fixed-action-btn">
    <a href="/markets/{{market._id}}/products/add" class="btn-floating btn-large waves-effect waves-light green"><i class="fas fa-plus"></i></a>
</div>
{{/if}}
</div>
