<h1>Edit product</h1>
<form action="/markets/{{product.market._id}}/products/{{product._id}}" method="POST">
<input type="hidden" name="_method" value="PUT">
    <div class="row">
            <div class="input-field">
                <input type="text" name="name" id="name" value="{{product.name}}">
                <label for="name">Product Name</label>
            </div>

            <div class="input-field">
                <input type="text" name="priceBs" id="priceBs" value="{{product.priceBs}}">
                <label for="priceBs">Product PriceBs</label>
            </div>

            <div class="input-field">
                <input type="text" name="mainCategory" id="category" required>
                <label for="category">Main Category</label>
            </div>

            <div class="input-field">
                <input type="text" name="subCategory" id="category" required>
                <label for="category">Sub Category</label>
            </div>

            <div class="input-field">
                <input type="text" name="itemCategory" id="category" required>
                <label for="category">Item Category</label>
            </div>
    </div>
    <div class="row">
        <input type="submit" value="Save" class="btn">
        <a href="/markets/{{product.market._id}}" class="btn orange">Cancel</a>
        
    </div>
    
</form>